@import 'colors';
@import 'constants';

footer{
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    & address{
        color: $dark;
        font-size: 20px;
        @include tablet{
            font-size: 15px;
        }
    }
}